/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
/* :root {
  --bg-color--dark: #0a1223;
  --bg-color--light: #fff;
  --link: #5d5d5d;
  --link--active: #54597d;
  --link--hover: #54597d;
  --article-title: #ddd;
  --article-title--dark: #000;
  --thumbnail--description: #5d5d5d; */

  /* These styles are needed only for media query max-width: 575px */

  /* The 'Up' button (circle button at right bottom corner) */
  /* --btn-color: #fff;
  --btn-bg-color: #5ebcff;

  --navigation-border-bottom: #ddd;
  --thumbnail-title: #484747;
} */

/* Your styles go here */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.upTo{
  display: none;
}
body{
  background: #0a1223;
  padding-top: 35px;
  padding-bottom: 100px;
}
header nav{
  float: right;
}
a{
  text-decoration: none;
  color: #5d5d5d;
  font-size: 1.3vw;
  margin-right: 35px;
}
a:hover, a:active{
  color: #54597d;
}
nav a:first-child{
  color: #54597d;
}
header h1{
  color: #ddd;
  font-size: 5vw;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 170px;
}
.factsHolder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.factsHolder section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 20px;
}
.factsHolder section:nth-child(even){
  flex-direction: row-reverse;
}
section .textBlok{
  padding-top: 15px;
  max-width: 1000px;
  min-width: 500px;
  max-width: 40%;
}
.textBlok h2{
  color: #ddd;
  font-size: 2.3vw;
  margin-bottom: 15px;
  background: linear-gradient(to right, #ddd, #5d5d5d);   
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.textBlok p {
  text-indent: 15px;
  color: #5d5d5d;
  font-size: 1.3vw;
}
img{
  width: 40%;
  /* min-width: 400px; */
  max-width: 500px;
  height: 100%;
}
@media (max-width: 991px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  a{
    font-size: 20px;
  }
  header nav{
    align-self: center;
  }
  h1{
    font-size: 48px !important;
    width: 83%;
    margin: 0 auto;
  }
  .factsHolder section{
    flex-direction: column;
    padding: 0;
  }
  section .textBlok{
    margin: 0 auto;
    width: 500px;
  }
  section h2{
    font-size: 29px !important;
  }
  section p {
    font-size: 16px !important;
    text-align: justify;
  }
  section img{
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .factsHolder section:nth-child(even){
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  body{
    background-color: #fff;
    padding-top: 0;
  }
  .upTo{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5ebcff;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    float: right;
    position: fixed;
    bottom: 30px;
    right: 10px;
    color: #fff;
    box-shadow: 5px 6px 5px 4px rgba(0,0,0,0.19);
  }
  header nav{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
  }
  a{
    width: 100%;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ddd;
  }
  a:hover, a:active{
    color: #54597d;
    font-size: 30px;
    font-weight: bold;
  }
  nav a:first-child{
    color: #54597d;
    font-size: 30px;
    font-weight: bold;
  }
  header h1{
    color: #000;
  }
  .textBlok h2{
    -webkit-text-fill-color: #484747;
    width: 100%;
    min-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
  }
  section .textBlok{
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
  }
  section .textBlok p{
    width: 100%;
    min-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
  }
  section img{
    width: 100%;
    min-width: 300px;
  }

}