@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

$navColorText: #fc582d;
$mainBoldColor :#617e8b;
$imgTitleColor: #bebebe;
$mainTextColor: #767676;
$formTextColor: #767676;
$bgColorMain: white;
$bgColorPage: #f0f0f0;
$borderColor: #d0d9dd;
$textTitleImg: 'Roboto Slab', serif;

