@import url('https://fonts.googleapis.com/css?family=Roboto');

$navColorText: #19bdd4;
$mainBoldColor :#0f98a7;
$imgTitleColor: #0d9688;
$mainTextColor: #617e8b;
$formTextColor: #76767a;
$bgColorMain: #f0f0f0;
$bgColorPage: white;
$borderColor: #617e8b;
$textTitleImg: 'Roboto', sans-serif;

